@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --bg-image: url("img/bg1.jpg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

/* background image blur effect */
body::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: var(--bg-image) center center / cover no-repeat;
  filter: blur(8px);
  z-index: -1;
}

/* your weather app box */
.app-main {
  width: 40vw;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.app-main > * {
  margin-bottom: 20px;
}

.input-box {
  width: 100%;
  background: #f0f8ff;
  color: #000000;
  font-weight: 500;
  border: none;
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  outline: none;
}

.weather-body {
  color: #fff;
  padding: 20px;
  line-height: 2rem;
  border-radius: 10px;
  background: linear-gradient(to top, #da1e4e, #e4603a);
  display: none;
}

.location-deatils {
  font-weight: bold;
}

.weather-status {
  padding: 20px;
}

.temp {
  font-size: 5rem;
  font-weight: 700;
  margin: 20px 0;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.1);
}

.weather {
  margin-top: 25px;
  font-size: 2rem;
  margin-bottom: 10px;
}

.min-max {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 15px;
}

.day_details {
  padding: 20px;
}

.sun-detail,
.basic {
  font-size: 1rem;
}

#weather-icon {
  color: black;
}

/* responsive */
@media screen and (max-width: 800px) {
  .app-main {
    width: 90%;
    padding: 15px;
  }
}
